{% extends "base.html" %}

{% block title %}Part 1: Designing Training{% endblock %}

{% block slides %}

      <!-- ==================== TITLE ==================== -->
      <section>
        <h1>Designing Training for Real-World Impact</h1>
      </section>

      
      <!-- ==================== THANK YOU ==================== -->
      <section>
        <h1>Thank you</h1>
        <p class="subtitle">Teaching for Impact: Designing Effective &amp; Open Training</p>
        <p><a href="../">Continue with the workbook &rarr;</a></p>
      </section>

{% endblock %}
